@{
    ViewBag.Title = "About";
}


<!DOCTYPE Html>
<html>
<head>

</head>
<body>
    <style>
        .center {
            margin: 0 auto;
            width: 80%;
            border: 2px solid;
            padding: 100px;
        }

        .center1 {
            margin-left: 50px;
            width: 80%;
        }
    </style>
    <div class="top-brands">
        <div class="container">
            <h3>Giới thiệu </h3>
            <div class="agile_top_brands_grids">
                <div class="center">
                    <div>
                        <b>Kẹo dừa:</b>
                        <div>

                            @ViewBag.Keodua

                        </div>
                    </div>
                    <br />
                    <div>
                        <b>Lịch sử:</b>
                        <div>

                            @ViewBag.Lichsu

                        </div>
                    </div>
                    <br />
                    <div>
                        <b>Quy trình làm kẹo dừa</b>
                        <br />
                        <br />
                        <div class="center1">
                            <b>1.Làm đường mạch nha:</b>
                            <div>
                                <p>
                                    @ViewBag.Lamduong
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="center1">
                            <b>2.Sên kẹo:</b>
                            <div>
                                <p>
                                    @ViewBag.Sen
                                </p>
                            </div>
                        </div>
                        <br />
                        <b>Hình ảnh quy trình làm kẹo:</b>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <p>
                                    Cơm dừa dùng lấy nước cốt
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua1.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Bào cơm dừa, sau đó cho vào máy ép
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua2.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Máy ép cơm dừa
                                    <br />
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua3.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Bã sau khi đã ép lấy nước cốt
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua4.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <p>
                                    Nước cốt sau khi đã ép và phối trộn với mạch nha
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua5.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Sên kẹo bằng máy
                                    <br />
                                    <br />
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua6.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Làm cho kẹo có mùi và màu kẹo
                                    <br />
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua7.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Cho kẹo lên khuôn và làm khô
                                    <br />
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua8.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <p>
                                    Dùng dao cắt kẹo theo kích thước ấn định sẵn
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua9.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Gói kẹo bằng bánh tráng
                                    <br />
                                    <br />
                   
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua10.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <p>
                                    Thành phẩm
                                    <br />
                                    <br />
                                    <br />
                                </p>
                                <div class="col-12-sm image-group">
                                    <ul class="gallery mw-gallery-traditional">

                                        <li class="gallerybox" style="width: 155px">
                                            <div style="width: 155px">
                                                <div class="thumb" style="width: 150px;">
                                                    <div style="margin:30px auto;">
                                                        <a href="~/Content/images/keodua1.jpg" class="image">
                                                            <img alt="" src="~/Content/images/keodua7.jpg" decoding="async" width="120" height="90">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="gallerytext">

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                  
                        </div>

                    </div>
                    <br />
                    <div>
                        <b>Giá trị truyền thống:</b>
                        <div>
                            <p>
                                @ViewBag.Giatritruyenthong
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="about">
                        <b>Giá trị kinh tế:</b>
                        <div>
                            <p>
                                @ViewBag.Giatrikinhte
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
